/* Existing styles for laptops and larger screens (Default) */
body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #688FCC;
    height: 6%;
    padding: 0;
}

h3 {
    padding-top: 0.8%;
    padding-left: 1%;
    color: #FFFDD3;
}

/* Media query for screens smaller than 768px (phones) */
@media (max-width: 768px) {
    .header {
        height: 3%;
    }

    h3 {
        padding-top: 1%; 
        padding-left: 1%;
        font-size: 1.2em;
    }

    body {
        font-size: 16px; 
    }
}
